::-webkit-scrollbar {
  display: none;
}

#message_type_section {
  background-color: transparent;
  border-radius: 30px;
  border: 3px;
  border-color: black;
  border-style: solid;
  color: white;
  font-weight: 500;
  font-family: "Kiwi Maru", serif;
  box-shadow: none;
}

#chat_message_receive_section {
  border-top: 3px;
  border-left: 3px;
  border-bottom: 3px;
  border-right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-style: solid;
  border-color: white;
  color: white;
  overflow: scroll;
  height: 600px;
}

#chat_message_sent_section {
  border-top: 3px;
  border-right: 3px;
  border-bottom: 3px;
  border-left: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-style: solid;
  border-color: black;
  color: black;
  overflow: scroll;
  height: 600px;
}
